/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* SET STYLES */
body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
}

a{
    text-decoration: none;
}

p{
    margin: 0.75rem 0;
}

h1:hover{
    color: #fff;
}

hr{
    background: #000;
    height: 10px;
}

.text-primary:hover{
    color: #d8db1d;
}

/* NAVIGATION BAR */
#navbar{
    display: flex;
    position: sticky;
    top: 0;
    bottom: 300px;
    background: #a0a0a0;
    color: #000;
    justify-content: space-between;
    z-index: 1;
    padding: 1rem;
}

#navbar:hover{
    background: #9c294c;
}

#navbar ul{
    display: flex;
    align-items: center;
    list-style: none;
}

#navbar ul li a{
    color: #000;
    padding: 0.75rem;
    margin: 0 0.25rem;   
}

#navbar ul li a:hover{
    background: #1a2591;
    color: #fff;
    border-radius: 5px; 
}

#navbar ul li a .tooltip {
    visibility: hidden;
}

#navbar ul li a:hover .tooltip {
    visibility: visible;
    color: #fff;
}
